@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mulish:wght@400;700;800&display=swap');



$white: #fff;
$black: #000;
$bg-gradient: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
$bg-gradient-safe:rgb(50,100,255);


html {
    font-size: 10px;
}

body {
    background-color:#000;
    color: $white;
    font-size: 16px;
    // font-family: 'Marcellus', serif;
    font-family: 'Mulish', sans-serif;
}

i {
    color: $white;
    font-size: 24px;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    max-width: 144rem;
    margin: 0 auto;
    padding: 1.5rem;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &-item {
        margin: 0 2.5rem;
    }
    &-link {
        text-decoration: none;
        font-weight: 700;
        color: rgba($white, 0.5);
        position: relative;
        &::after {
            content: '';
            opacity: 0;
            display: block;
            width: 100%;
            height: .2rem;
            margin-top: .5rem;
            background: $bg-gradient-safe;
            background: $bg-gradient;
            border-radius: 5rem;
        }

        &.active {
            &:hover {
                color: $white;
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

.control {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    &-item {
        margin-left: 7.5rem;
    }
    &-btn {
        background-color: transparent;
        border: none;
        &:hover {
            transform: scale(1.5);
        }
    }
}

.section {
    &__h2 {
        font-size: 2.8rem;
        line-height: 2rem;
        position: relative;
        font-weight: 700;
        margin-bottom: 4.7rem;
        padding-top: 6rem;
        &::before {
            content: '';
            display: block;
            width: .8rem;
            height: 3.5rem;
            background: $bg-gradient-safe;
            border-radius: 5rem;
            background: $bg-gradient;
            position: absolute;
            left: 0;
            top: 5.5rem;
        }
        &-link {
            color: $white;
            text-decoration: none;
            margin-left: 1.9rem;
    }  
    }
}

.fa-chevron-right {
    margin-left: 1rem;
}

.section-banner {
    border-bottom: .1rem solid #2f2e2e;
    position: relative;
    overflow: hidden;
    &__image {
        position: absolute;
        right: 0;
        height: 100%;
        width: 58%;
        z-index: -1;
    }
}
.banner {
    // height: 76.4rem;
    max-width: 56.2rem;
    padding-top: 12.2rem;
    padding-bottom: 20.3rem;
    box-shadow: 100px 0px 100px #000000;
    // background-color: $black;
    &__title {
        font-family: 'Marcellus', serif;
        font-size: 8rem;
        line-height: 7.5rem;
    }
    &-info {
        font-weight: 800;
        margin-bottom: 3.2rem;
        &__year {
            margin-right: 1.8rem;
        }
        &__age {
            margin-right: 1.8rem;
            position: relative;
            width: 6rem;
            display: inline-block;
            text-align: center;
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 2.4rem;
                background-image: url(images/age.svg);
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: calc(50% - 1.2rem);
                left: 0;
                right: 0;
            }
        }
        &__time {
            margin-right: 6.1rem;
        }
    }
    &__text {
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #C2C2C2;
        margin-bottom: 3.5rem;
    }
    &-control {
        &__btn {
            background-color: transparent;
            border: none;
            font-size: 1.6rem;
            line-height: 2rem;
            font-weight: 800;
            border-radius: 10rem;
            padding: 1.5rem 3rem;
            font-family: 'Mulish', sans-serif;
            cursor: pointer;
        }
        &__btn-main {
            background: $bg-gradient-safe;
            background: $bg-gradient;
            color: $white;
            box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
            margin-right: 3rem;
            transition: .2s ease box-shadow;
            &:hover {
                box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);
            }
        }
        &__btn-more {
            background-color: #fff;
            color: #010101;
            transition: .2s ease background-color, .2s ease color;
            &:hover {
                color: $white;
                background-color: transparent;
            }
        }
    }
}

.fa-star {
    color: #FFB800;
    font-size: 1.6rem;
    margin-left: 1rem;
}

.fa-play {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.movies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
        background-color: $black;
        
    }
    &__link {
        filter: drop-shadow(0px 0px 0px rgba(44, 176, 249, 0.0));
        transition: .2s ease filter;
        &:hover {
            filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
         }
    }
    &__img {
        border-radius: 2rem;
    }
    &__btn {
        border: none;
        border-radius: 10rem;
        padding: 1.5rem 3.4rem;
        margin-top: 5.5rem;
        cursor: pointer;
        background: $bg-gradient-safe;
        background: $bg-gradient;
        color: $white;
        box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
        margin-right: 3rem;
        transition: .2s ease box-shadow;
        &:hover {
            box-shadow: 0px 0px 0px rgba(50, 108, 255, 0.5);       
        }
    }
}



