- var pageTitle = 'Online TV'

doctype html
html(lang="en")
  head
  <script src="https://kit.fontawesome.com/5967ed30a9.js" crossorigin="anonymous"></script>
    title= pageTitle
    
    style 
      include styles/style.css
  body
    include modules/header

    section.section-banner 
      img(src="../src/images/banner_bgi.png", alt="banner").section-banner__image
      .container 
        .banner 
          h1.banner__title Zack Snyder's Justice League
          .banner-info 
            span.banner-info__year 2021
            span.banner-info__age  18+
            span.banner-info__time 4h 2min
            span.banner-info__rating 8.8 <i class="fas fa-star"></i>
          p.banner__text Determined to ensure Superman's ultimate sacrifice was not in vain, Bruce Wayne aligns forces with Diana Prince with plans to recruit a team of metahumans to protect the world from an approaching threat of catastrophic proportions.
          .banner-control
            button.banner-control__btn.banner-control__btn-main  <i class="fas fa-play"></i> Watch
            button.banner-control__btn.banner-control__btn-more  More information

    section.section 
      .container 
        .h2.section__h2
          a(href="#").section__h2-link Trending TV Shows <i class="fas fa-chevron-right"></i>
        .movies 
            .movies-item 
              a(href="#").movies__link 
                img(src="../src/images/posters/poster_01.png ", alt="").movies__img
            .movies-item                 
              a(href="#").movies__link 
                img(src="../src/images/posters/poster_02.png ", alt="").movies__img
            .movies-item   
              a(href="#").movies__link 
                img(src="../src/images/posters/poster_03.png ", alt="").movies__img
            .movies-item   
              a(href="#").movies__link 
                img(src="../src/images/posters/poster_04.png ", alt="").movies__img
            .movies-item   
              a(href="#").movies__link 
                img(src="../src/images/posters/poster_05.png ", alt="").movies__img
            .movies-item   
              a(href="#").movies__link 
                img(src="../src/images/posters/poster_06.png ", alt="").movies__img
        .h2.section__h2
          a(href="#").section__h2-link Trending Movies <i class="fas fa-chevron-right"></i>
        .movies 
            .movies-item 
              a(href="#").movies__link 
                img(src="../src/images/movies/movie_01.png ", alt="").movies__img
            .movies-item                 
              a(href="#").movies__link 
                img(src="../src/images/movies/movie_02.png ", alt="").movies__img
            .movies-item   
              a(href="#").movies__link 
                img(src="../src/images/movies/movie_03.png ", alt="").movies__img
            .movies-item   
              a(href="#").movies__link 
                img(src="../src/images/movies/movie_04.png ", alt="").movies__img
            .movies-item   
              a(href="#").movies__link 
                img(src="../src/images/movies/movie_05.png ", alt="").movies__img
            .movies-item   
              a(href="#").movies__link 
                img(src="../src/images/movies/movie_06.png ", alt="").movies__img
        button.movies__btn See more

      section.section 
      .container 
        .h2.section__h2
          a(href="#").section__h2-link Popular Genres <i class="fas fa-chevron-right"></i>
        .genres 
          .genres-item.genres-item_romance 
            img(src="../src/images/genres/romance.svg", alt="Romance")
            h3.genres__title Romance

    include modules/footer 