- var pageTitle = 'Online TV'

doctype html
html(lang="en")
  head
  <script src="https://kit.fontawesome.com/5967ed30a9.js" crossorigin="anonymous"></script>
    title= pageTitle
    
    style 
      include styles/style.css
  body
    include modules/header
    h1 Pug - node template engine 
    include modules/footer 